In [39]:
import random

"""
한개의 테이블에 3명씩 테이블좌석을 지정하라.
중복되면 안됨.
"""


member = {0: '아이유', 1: '조인성', 2: '황정민',
          3: '송승헌', 4: '이광수', 5: '유재석',
          6: '송지효', 7: '김종국', 8: '자이언티',
          9: '크러쉬', 10:'타블로', 11:'임창정',
          12:'음바페', 13:'메시', 14:'호날두',
          15:'박지성', 16:'손흥민', 17:'벤투',
          18:'조규성', 19:'카카오', 20:'네이버'}

for i in range(1, 8):
    member_list = []
    for _ in range(3):
        ran_number = random.choice(list(member.keys()))
        member_list.append(member[ran_number])
        del member[ran_number]
    member_list = sorted(member_list)
    print(i, '번째 테이블', member_list)

1 번째 테이블 ['송승헌', '아이유', '조인성']
2 번째 테이블 ['벤투', '유재석', '카카오']
3 번째 테이블 ['손흥민', '송지효', '이광수']
4 번째 테이블 ['김종국', '조규성', '황정민']
5 번째 테이블 ['네이버', '음바페', '타블로']
6 번째 테이블 ['메시', '자이언티', '호날두']
7 번째 테이블 ['박지성', '임창정', '크러쉬']